*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e0e11;
  padding: 0.8rem 1rem;
  height: 9vh;
  min-height: 0;
  
}


.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: row;
  padding-right: 1rem;
}

.btn{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background: rgb(68, 72, 87);
  gap:.5rem;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.btn:hover{
  background: rgba(104, 108, 131, 0.968);
  /* color: #fff; */
}




button img[src="src/assets/night-mode.png"]{
  width: 30px;
  height: 30px;
 filter:invert(100%);
}


.grid-panel{
  display: grid;
  min-height: 0;
  height: 91vh;
  grid-template-rows: 48vh 1fr;
  overflow: hidden;
  /* border: 1px solid #1232e9; */

  
}


.top-grid{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 1px; */
  height: 48vh;
  /* min-height: 0; */
  /* border: 1px solid #1bf831; */
  background: #23272f;
 
  
 
}


.top-flex{
  display: flex;
  height: 91vh;
 min-height: 0;
 overflow: hidden;
  
  /* border: 1px solid #e97012;   */

}




/* .open{
  background-color: #bb5961;
  min-width: 0;
  width: 300px;
  
  
} */

.editors-column {
  display: flex;
  flex-direction: column;
  flex: 35%;
  min-width: 0;
  /* height: 100%; */
  /* flex: 1; */
  
  background: #23272f;
  min-height: 0;
 


}

.code-output-container {
 height: 100%;

 min-height: 0;
 
  flex: 65%;

}









.edit-container {
  background: #2f3238;
  border-bottom: 6px solid #2f3238;
  
  
  
  

 
}




.edit-header {
  background:#2f3238;
  
  padding: 0.5rem 1.1rem;
  font-weight: 600;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:  0 0 auto;
}

.edit-title {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #e0e0e0;
  text-transform: uppercase;
  font-family:'Roboto', sans-serif;
}

.code-editor {
  border: 2px  solid #31343a;
  
}




button{
  background: none ;
  border: none;
}

img{
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* background: transparent; */
}

.code-output{
  /* height: 35vh; */
  height: 100%;    /* Fill container */
  width: 100%;
  /* border: 1px solid #317c1f; */
  flex: 1;
  border: none;
  outline: none;
  
  /* margin-top: 1rem; */
  
}






